<script src="/plugins/layui/layui.js"></script>
<script src="/plugins/jquery/jquery-2.1.4.min.js"></script>
<script src="/plugins/vue/vue.min.js"></script>
<script src="/plugins/hc-sticky/hc-sticky.min.js"></script>
<script src="/assets/js/BMY.js"></script>
<script src="/assets/js/BMY.vue.js"></script>
<script src="/assets/js/frontend/index.js"></script>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="/plugins/html5shiv/html5.min.js"></script>
<script src="/plugins/respond.js/respond.min.js"></script>
<![endif]-->